<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/user_sign_in.css"/>
    <link rel="stylesheet" href="/css/user_sign_up.css"/>
    
    
    <title><%=title%></title>
  </head>
  <body>
    
    
    <div class="wrapper">
      
      <header>
        <%- include('../partials/_header')%>
      </header>

      <main id="layout-main">
        <%- body %>
      </main>

      <footer>
        <%-include('../partials/_footer')%>
      </footer>
    </div>
  </body>
</html>
