<link rel="stylesheet" href="/css/home.css">
<div class="content">
  <section id="feed-post">
    <h1>TRENDIG POST'S</h1>
    <br />

    <div><%-include('./partials/_post')%></div>
  </section>

  <section id="user-friends">
    <%if(locals.user){%>

    <h3>Friends</h3><br>
    <%for(let u of all_user){%> <%if(locals.user && locals.user.id != u.id){%>
    <p>
      <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
    </p>
    <%}%> <%}%> <%}%>
  </section>
</div>
