* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif, "Arial"; }

html, body {
  height: 100%;
  width: 100vw; }

.wrapper {
  text-align: center;
  background-color: whitesmoke;
  width: 100%; }

main {
  padding: 30px;
  width: 100vw;
  height: 100vh; }
